<h1 style="color: rgb(40, 42, 54);">Lista de pedidos de cocina</h1>

<div class="st-contenedor">
  <div class="st-tarjeta" style="border-top: 3px solid rgb(223, 47, 74);">
    <h2>Listado de pedidos {{pedidosPendientes.length}}</h2>
    <div class="st-filtro" style="height: 80px; display: flex; align-items: center; justify-content: center;">
      <mat-form-field  style="height: 80px; font-size: 12px; margin-top: 20px;">
        <mat-label >Filtros subcategoria</mat-label>
        <mat-select (selectionChange)="filtrarPorSubCategorias($event)">
          <mat-option>all</mat-option>
          <mat-option *ngFor="let subcategoria of subCategorias" [value]="subcategoria">
            {{subcategoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <a (click)="ordenarListadoPendiente()">
        <svg style="width: 10px; height: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
        </svg>
        Ordenar
      </a>
    </div>
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="pedidosPendientes" [cdkDropListConnectedTo]="[doneList]"
      class="st-lista" (cdkDropListDropped)="drop($event)">
      <app-panel-expansion class="st-lista__pedido" *ngFor="let item of pedidosPendientes" cdkDrag accion="Preparar"
        (mensajeEnviado)="cambiarAPreparacion($event)" [pedido]="item">
      </app-panel-expansion>
    </div>
  </div>


 
  <div class="st-tarjeta" style="border-top: 3px solid rgb(253, 171, 61);">
    <h2>En preparación {{done.length}}</h2>
    <div class="st-filtro">
      <a>
        <svg style="width: 10px; height: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
        </svg>
        Filtrar
      </a>
      <a (click)="ordenarPedidoEnProceso()">
        <svg style="width: 10px; height: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
        </svg>
        Ordenar
      </a>
    </div>
    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[finalizadoList]"
      class="st-lista" (cdkDropListDropped)="drop($event)">
      <app-panel-expansion class="st-lista__pedido" *ngFor="let item of done" cdkDrag accion="Finalizar"
        (mensajeEnviado)="pedidoTerminado($event)" [pedido]="item">
      </app-panel-expansion>
    </div>
  </div>




  <div class="st-tarjeta" style="border-top: 3px solid rgb(0, 200, 117);">
    <h2>Preparado {{finalizado.length}}</h2>
    <div class="st-filtro">
      <a>
        <svg style="width: 10px; height: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
        </svg>
        Filtrar
      </a>
      <a (click)="ordenarPedidoCompletados()">
        <svg style="width: 10px; height: 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
        </svg>
        Ordenar
      </a>
    </div>
    <div cdkDropList #finalizadoList="cdkDropList" [cdkDropListData]="finalizado" [cdkDropListConnectedTo]="[]"
      class="st-lista" (cdkDropListDropped)="drop($event)">
      <app-panel-expansion class="st-lista__pedido" *ngFor="let item of finalizado" cdkDrag estado="completado"
        [pedido]="item">
      </app-panel-expansion>
    </div>
  </div>
</div>